<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Log In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">
     {% load static %}
     <link rel="stylesheet" href="{% static "css/style.css" %}">
    
</head>
<body>
    <div class="shadow-wrap">
        <div class="form-wrap">
            <h1>LOGIN</h1>
            <br>
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
            <form action="login" method="POST" name="log" >
                {% csrf_token %} 
                <label>User Name</label>
                <input type="text" name="username_log" placeholder="Name">
                <label>Password</label>
                <input type="password" name="userpass_log" placeholder="Password">
                <button type="submit" name="login_data">Login</button>
            </form>
            <a href="/signup_page" class="signup-link">SignUp</a>
        </div>
    </div>
</body>
</html>